/build/
/Build/
**/xcuserdata/

# EoF MCP Studio ToolSDK Packager
.toolsdk.package.chksum

#nnlab
**/artifacts/
**/data/
**/eval/
**/models/
**/__pycache__/
.venv/

# not this
config/MultiAgents/border crossing research.json
config/Prompts/coding_refactoring_short.json
config/Skills/calendar-tools.json
config/Skills/duckduckgo-research.json
nnlab/agent_workflow_clm_trainer_v1_home_temp.json
nnlab/agent_workflow_clm_trainer_v2_home_temp.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
